<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask Web UI</title>
</head>
<body>
    <header>
    </header>
    <main>
        <section>
            <form action="/update" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th>Jour</th>
                            <th>Heure de réservation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day, times in config_file.jours.items() %}
                            <tr>
                                <td>{{ day | capitalize }}</td>
                                <td>
                                        {% if times %}
                                        <input type="time" name="{{ day }}" value="{{ times | join(', ') }}" />
                                    {% else %}
                                        <input type="time" name="{{ day }}" placeholder="Aucune heure de réservation" />
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit">Sauvegarder</button>
            </form>
        </section>
        <section>
            <form action="/update" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th>Activity Name</th>
                            <th>Activity ID</th>
                            <th>Day</th>
                            <th>Time Slot</th>
                            <th>Location</th>
                            <th>Remaining Places</th>
                            <th>Activity ID (Details)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in activities_dict %}
                        <tr>
                            <td>{{activity['activity_name']}}</td>
                            <td>{{activity['activity_id']}}</td>
                            <td>{{activity['jour']}}</td>
                            <td>{{activity['creneau_horaire']}}</td>
                            <td>{{activity['lieu']}}</td>
                            <td>{{activity['places_restantes']}}</td>
                            <td>{{activity['id']}}</td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </form>
        </section>
    </main>
    
    <footer>

    </footer>
</body>
</html>
