<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reserverCreneauSUAPS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body id="body_login">
    <h2>Page d'authentification</h2>
    <form id="login" method="POST" action="{{ url_for('login') }}">
        <label for="password">Mot de passe Universitaire</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Connection</button>
    </form>
</body>
</html>
