<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reserverCreneauSUAPS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    
</head>
<body id='moving_bg'>
    <div id="body_login">
        <h2>Page d'authentification</h2>
        <form id="login" method="POST" action="{{ url_for('login') }}">
            <label for="password">Mot de passe universitaire</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Connexion</button>
        </form>
        <section>
            <p>Se souvenir de moi</p>
            <label class="switch">
                <input type="checkbox" name="remember">
                <span class="slider"></span>
            </label>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>
        <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
    </div>
</body>
</html>
