/* General reset for consistent styling across browsers */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#moving_bg {
    font-family: 'Arial', sans-serif;
    position: fixed;
    top:0;
    left: 0;
}

#body_login {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);

    padding: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    color: #0f046b;
}

h2, h3 {
    text-align: center;
    color: #0f046b;
}

/* Main section styling */
main {
    max-width: 1200px;
    margin: auto;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}


table {
    width: 100%;
    border-collapse: collapse;

    border-radius: 8px;  /* Adds rounded corners to the table */
    overflow: hidden;  /* Prevents the borders from being cut off */
}

th, td {
    padding: 9px;
    text-align: center;
    vertical-align: middle;   /* Centre verticalement */
}

#checkbox {
    text-align: center;
}

th {
    background-color: #886fc8;
    color: white;
}

td {
    border-bottom: 2px solid #333;
}

tr:hover td {
    background-color: rgba(0, 21, 255, 0.2);
}

input[type="checkbox"] {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: auto;
    font-size: 1rem;
}


/* Table styles for readability */
thead {
    text-transform: uppercase;
}

thead th {
    font-size: 1.1rem;
}

tbody td {
    font-size: 1rem;
}

.flash {
    background-color: rgb(185, 255, 175);
    color: rgb(63, 63, 63);
    font-size: 1.5rem;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #3398db;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9rem;
    color: #7f8c8d;
}

/* Responsiveness */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    table, th, td {
        font-size: 0.9rem;
    }

    button {
        padding: 8px 15px;
    }
}

#flash-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.flash-message {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    animation: fadeOut 5s forwards;
}

.flash-message.error {
    background-color: #f44336;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0; display: none;}
}

#top-buttons button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 10px;
    z-index: 1;
}
  
#top-buttons button:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

#top-buttons button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 10px;
    transition: 1s;
}

#top-buttons button:hover::before {
    filter: blur(10px);
}

#top-buttons button:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

body {
    width: 100%;
    height: 100%;
  
    background: #f4f7fc;
    --gap: 5em;
    --line: 1px;
    --color: rgba(0, 0, 0, 0.2);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
  }

  
  /* CSS */
  .resa_button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .resa_button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .resa_button {
      padding: 0.25em 0.75em;
    }
  }

  
/* Hide the default checkbox */
.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
}
   
.check_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.checkmark {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 5px;
}

   
   /* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
    box-shadow: 3px 3px 0px rgb(183, 183, 183);
    transition: all 0.2s;
    opacity: 1;
    background-image: linear-gradient(45deg, rgb(100, 61, 219) 0%, rgb(217, 21, 239) 100%);
}
   
.check_container input ~ .checkmark {
    transition: all 0.2s;
    opacity: 1;
    box-shadow: 1px 1px 0px rgb(183, 183, 183);
}
   
   /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
}
   
   /* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
    opacity: 1;
    transition: all 0.2s;
}
   
   /* Style the checkmark/indicator */
.check_container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
